body {
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/*img {
	opacity: .5;
	color: #000;

}*/



#nav {
	height: 4em;
	position: fixed;
	display: block;
	width: 100%;
	/*background-color: #4a5f81;*/
	background: #fff;
	opacity: 1; 
	/*box-sizing: border-box;*/
	box-shadow: 1px 1px 20px #d8d8d8;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border-radius: 0px;
    min-height: 45px;
}

#nav li {
	display: inline-flex;
}

/*#nav img {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}*/

#headerNavigationButtons {
	display: inline-block;
    text-align: left;
    margin-left: 4em;
}

.fa fa-home{
	color: #4a5f81;
	display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}

.header {
	padding-right: 15px;
    padding-left: 15px;
	height: 4.65em;
	position: absolute;
	display: block;
	width: 100%;
	/*margin: 0em;
	background-color: #4a5f81;*/
	background-color: #fff;
	/*opacity: 1; 
	box-sizing: border-box;*/
	/*box-shadow: 1px 1px 20px #d8d8d8;*/
}

.header img {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.header li {
	display: inline-flex;
	align-items: left;
}

li.admissions a {
	background-color: transparent;
	color: #4a5f81;;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	padding-left: 25px;
	padding-right: 25px;
}

.heroImage {
	background: url("../images/TCMCNY.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center; 
    max-height: 716px;
    margin: -15px;
    margin-top: -1.65em
}

#programsBar{
	height: 100px;
	display: block;
	margin: -15px;
	margin-top: 4.1em;
	/*background-color: #4a5f81;*/
	background-color: #000;
	opacity: .5; 
	box-sizing: border-box;
	padding-top: 30px;
    padding-bottom: 30px;
}

#chooseInterest {
	color: #fff;
	font-size: 24px;
	display: inline-flex;
}

button {
	border: none;
    color: white;
    width: 250px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    /*font-weight: bold;*/
    text-transform: uppercase;
    position: relative;
    top: -.4em;
}

#programsArts {
    background-color: rgba(157,53,48,1); /* Red */
    
}

#programsHumanities {
    /*background-color: rgba(28,73,118,1);*/ /* Dark Blue */
    background-color: rgba(136,182,208,1); /* light Blue */

}

#programsLanguages {
    background-color: rgba(238, 173, 14,1); /* Yellow */
    
}



.blue {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}




.pull-right {
	float: right;
	padding: 15px;
	padding-right: 40px;
}



/*<!li class="myTC" ><!a href="http://my.tc.columbia.edu">myTC</a></li>li.myTC a {
	display: none;
	background-color: transparent;
	color: #eead0e;
	font-weight: normal;
	text-decoration: none;
	align: left;
}*/

.heroContentContainer {
	height: 550px;
	top: 50px;
	position: relative;
}

#heroH1 {
	text-align: center;
	padding-top: 4.65em;
	display: flex;
	justify-content: center;
}

h1 {
	margin-top: 25px;
    margin-bottom: 15px;
	color: #fff;
	text-transform: uppercase;
	/*text-shadow: 0 0 8px #000;*/
	font-size: 48px;
	line-height: 1em;
}

#Programs {
	background: ;
	background-size: 100%;
}

#ph1 {
	color: #4a5f81;
	text-transform: none;
	text-shadow: none;
}

h2 {
	color: #4a5f81;
	font-size: 28px;
}

h3 {
	color: #fff;
	/*text-shadow: .5px .5px #000;*/
	font-weight: 100;
	font-size: 20px;
	line-height: 1em;
	margin-bottom: 25px;
}